.container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
    background-color: var(--light-blue);
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    }
    
    .container:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 10px var(--vista-blue);
    }
    
    .icon {
    height: 81px;
    width: 58.23px;
    padding: 10px 20px;
    border: 3px solid #819cff8b;
    border-radius: 15px;
    }
    
    .textbox {
    margin-left: 20px;
    }
    
    .title {
    font-size: 24px;
    font-weight: 600;
    color: var(--savoy-blue);
    margin: 0;
    }
    
    .subtitle {
    font-size: 20px;
    font-weight: 600;
    color: var(--vista-blue);
    margin: 0;
    }
    
    .description {
    font-size: 16px;
    font-weight: 400;
    color: var(--savoy-blue);
    margin: 0;
    margin-top: 10px;
    }
    
.arrow {
    position: relative;
    left: -10px;
}
