.main{
  background-image: linear-gradient(to bottom, var(--white), var(--savoy-blue)70%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin: 0;
  width: 414px;
  height: 896px;
  font-family: Figtree, sans-serif;
}


.progressContainer{
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  color: var(--savoy-blue);
  padding-bottom: 4rem;
}

.progressWrapper {
  height: 10px;
  border-radius: 1rem;
  background-color: var(--white);
  width: 100%;
}

.progress {
    height: 10px;
    border-radius: 1rem;
    background-color: var(--coral-pink);
    margin-bottom: 10px;
    transition: width 0.4s ease-in-out;

  }
  
  .progress:after {
    content: "";
    border-radius: 1rem;
    height: 100%;
    background-color: var(--white);
    transition: width 0.3s ease;
  }
  
  .progressLetter {
    display: inline-block;
    animation-name: bounce;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
  }
  
  @keyframes bounce {
    from { transform: translateY(0); }
    to { transform: translateY(-0.2em); }
  }

  .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 22rem;
    height: 26rem;
    color: var(--savoy-blue);
    background-color: var(--white);
    border: 2px solid var(--white);
    border-radius: 1rem;
    animation: float 3s ease-in-out infinite;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4);
  }
  
  @keyframes float {
    0% {
      transform: translateY(0px);
    }
    50% {
      transform: translateY(-10px);
    }
    100% {
      transform: translateY(0px);
    }
  }
  

.card > h1{
  font-family: Days One;
}

.card > p{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
  padding-top: 2rem;
  font-size: 1.2rem;
  width: 20rem;
}

.answer{
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Figtree, sans-serif;
  font-weight: 500;
  padding-top: 2rem;
}

.answer > button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--white);
  background-color: transparent;
  flex-wrap: wrap;
  font-size: 1.1rem;
  width: 22rem;
  height: 3rem;
  border: 2px solid var(--white);
  border-radius: 0.5rem;
}

.answer > button:hover{
  transition: 200ms ease-in-out;
  transform: scale(1.03);
  background-color: var(--white);
  color: var(--savoy-blue);
  cursor: pointer;
}

.buttons{
  display: flex;
  flex-direction: row !important;
  justify-content: space-between;
  gap: 10rem;
}
  
.buttons > button {
  border: none;
  background-color: transparent;
  color: var(--white);
  font-family: Figtree, sans-serif;
  font-size: 1.1rem;
}

.buttons > button:hover {
  cursor: pointer;
  font-family: Figtree, sans-serif;
  font-weight: 900;
  color: var(--white);
  text-decoration: none;
  position: relative;
}

.resultsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 22rem;
  height: 40rem;

}

.title{
   margin: -1rem; 
}

.userAnswers{
  display: flex;
  flex-direction: column;
  margin-bottom: -1rem;
  color: var(--coral-pink);
}

.headingResults{
  font-size: 25px;
  font-weight: 900;
}

.cardOption{
  margin-top: -1rem;
}

.cardOption > p{
  padding-top: 2rem;
}

.review{
  display: flex;
  flex-direction: column;
  text-align: center;
}

.review > h1{
  margin-top:3rem;
}

.review > p{
  margin-top:-1rem;
}

.results{
  padding-bottom: 4rem;
}

.message {
  font-family: Figtree;
  font-size: 20px;
  display: flex;
  color: var(--savoy-blue);
  background-color: var(--white);
  flex-direction: column;
  padding-top: -20px;
  padding: 2.5rem;
  border-radius: 0.5rem;
  max-height: 200px;
  overflow-y: scroll;
  margin-top: 20px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4);
}

.recommendation1 {
  color: var(--vista-blue);
  font-weight: 900;
}

.lessonLink1 {
  display: inline-block;
  color: var(--vista-blue);
  font-size: 1.2rem;
  font-weight: bold;
  margin-top: 0.5rem;
  text-decoration: none;
  transition: color 0.15s ease-in-out;
}

.lessonLink1:hover,
.lessonLink1:focus,
.lessonLink1:active {
  color: var(--coral-pink);
}