:root {
  --white: #FCECE2;
  --coral-pink: #F9897A;
  --vista-blue: #819DFF;
  --savoy-blue: #5762B8;
}

body {
  background-color: #eee0d3;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}