.main {
  background-color: var(--white);
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 414px;
  font-family: Figtree;

}


.navbar {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 414px;
  height: 107px;
  background-color: var(--white);
}

.introP {
  font-weight: 400;
  font-family: Figtree;
}

.introText {
  padding-left: 20px;
  padding-right: 20px;
  color: var(--savoy-blue);
  font-family: Figtree;
}

.lessons {
  width: 414px;

}

