.main {
  background-color: var(--white);
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 414px;
  height: 896px;
}


.navbar {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 414px;
  height: 107px;
  background-color: var(--white);
}