.main {
    font-family: Figtree;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--white);
    height: 896px;
    width: 414px;

}

.header {
    color: var(--savoy-blue);
    font-family: Days One;
    font-size: 25px;
    text-align: center;
    width: 310px;
}

.header2 {
    color: var(--savoy-blue);
    font-family: Days One;
    font-size: 25px;
    text-align: center;
    width: 310px;
}

.button {
    display: flex;
    font-size: 14px;
    flex-direction: row;
    align-items: center;
    padding-right: 40px;
    padding-top: 10px;
    padding-left: 40px;
    padding-bottom: 10px;
    margin: 10px;
    background-color: var(--savoy-blue);
    color: var(--white);
    border-radius: 15px;
    border: none;

}

.captions {
    width: 260px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 50px;
    padding-left: 50px;
    font-size: 20px;
    border-radius: 15px;
    text-align: center;
    background-color: var(--savoy-blue);
    color: var(--white);
}

.image {
    margin: 50px;

}